<!DOCTYPE html>
<html>
  <head>
    <title>I18nSample</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <ul>
        <li><%= link_to t('global.menu.home'), root_path %></li>
        <li><%= link_to t('global.menu.feedback'), new_feedback_path %></li>
      </ul>
      <ul>
        <li><%= link_to 'English', root_path(locale: :en) %></li>
        <li><%= link_to '日本人', root_path(locale: :ja) %></li>
      </ul>
    </nav>
    
    <%= yield %>
  </body>
</html>
